.mainNav {
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

.mainNav__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;

    a {
        margin: 24px 0px;
    }
}

.menuPage,
.aboutPage,
.orderStatusPage {
    font-family: serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 3%;
}

.menuPage:hover,
.aboutPage:hover,
.orderStatusPage:hover {
    color: rgb(184, 184, 184);
}


.closingBtn {
    width: clamp(50px, 40px + 1vw, 70px);
    height: clamp(50px, 40px + 1vw, 70px);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

    img {
        width: clamp(25px, 15px + 1vw, 35px);
        height: clamp(25px, 15px + 1vw, 35px);
        margin: 10px;
    }
}

.closingBtn:hover {
    background-color: rgb(219, 219, 219);
}

.closingBtn:active {
    transform: scale(96%);
}

hr {
    width: 50px;
    background-color: rgba(255, 255, 255, 0.2);
}